
body {
    font-family: 'Montserrat', sans-serif;
    width: auto;
    background-color: #A6BCC5;
}

li {
  list-style: none;
}
.logo span {
    float: left;
    font-size: 25px;
    padding: 20px 20px;
    color: white;
}

.main-top {
    background-color: #597280;
    height: 90px;
    border-bottom: 2px solid #dee7ec;
}
span {
    color: black;
}
.title {
    font-size: 55px;
    padding: 10px 40px;
    color: white;
}

.home {
    background-image: url(wave.gif);
    height: 900px;
    background-size: cover;
}
.green {
    background-image: url(https://wallpapercave.com/wp/wp2863773.jpg);
    height: 300px;
    opacity: 0.4;
}
.image {
    background-color: #fafcfc;
    height: auto;
    margin: 20px 20px;
}
.image h1 {
    text-align: center;
    font-size: 55px;
    color: black;
    margin-top: 20 px;
}
.image p {
    text-align: center;
    font-size: 23px;
    color: black;
    
    padding: 20px;
}
.personalities {
     background-color: #fafcfc;
     height: auto;
     margin: 20px 20px;
}
.personalities h1 {
    text-align: center;
    font-size: 55px;
    color: black;
    margin-top: 20 px;
}
.row1 {
    height: 600px;
}
img {
    height: auto;
    margin: auto;
}

button
{
    position: relative;
    display: inline-block;
    background-color:transparent;
    margin-right: auto;
    transition: all 0.4s ease;
    border: none;
    outline:none;
}

button:hover
{
    transform: scale(1.2);
    padding-right: auto;
    padding-left: auto;
}
b {
    font-size: 20px;
    color: #7F8282;
}
btn {
    font: 50px;
    margin: 0px;
    padding: 0px;
}
.nv {
    float: left;
    font-size: 20px;
    padding: 20px 20px;
    color: white;
}
.section3 {
     background-color: #fafcfc;
    height: auto;
    margin: 20px 20px;
}
.section3 h1 {
    text-align: center;
    font-size: 55px;
    color: black;
    margin-top: 20 px;
}
.main-top {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}
.footer {
    background-image: url(waze3.gif);
    height: 400px;
    background-size: cover;
}
.footer h1 {
    font-size: 50px;
    color: white;
    padding: 20px
    padding-left: 20px
}
footer p {
    font-size: 40px;
    color: white;
    padding: 20px;
    padding-left: 20px;
}